---
title: "Blog"
description: "The classic CodeStitch blog, controlled by Decap CMS. Lists all blog posts and provides an option to 'feature' posts to a sidebar"
permalink: 'blog/'
eleventyNavigation:
    key: 'Blog'
    order: '500'
---
{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/cms-blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Landing                   -->
    <!-- ============================================ -->


    
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->
    <div id="ContactBanner-327">
        <div class="cs-container">
            <span class="cs-int-title">Gallery</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/gallery/" class="cs-link cs-active">Gallery</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="{client.domain}/assets/images/carpet-cleaning-banner.jpg">
            <source media="(min-width: 601px)" srcset="{client.domain}/assets/images/carpet-cleaning-banner.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="{client.domain}/assets/images/carpet-cleaning-banner.jpg" alt="library" width="1920" height="375">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">
                        <!--Main Article Image-->
                        <picture class="blog-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="795"
                            height="400"
                            decoding="async" />
                        </picture>
                        <!--Article Info-->
                        <div class="article-group">
                            <div class="blog-authorGroup">
                                <!--Author Image-->
                                <picture class="blog-author-img">
                                    <img
                                    src="https://codestitchdemo.netlify.app/images/icon.jpg"
                                    alt="house"
                                    width="32"
                                    height="32"
                                    decoding="async" />
                                </picture>
                                <span class="blog-author">{{ post.data.author }}</span>
                                <span aria-hidden="true" class="blog-dot"></span>
                                <!--Blog Date-->
                                <span class="blog-date">{{ post.date | formatDate }}</span>
                            </div>
                            <h2 class="blog-h1">
                                {{ post.data.title }}
                            </h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}